.control:hover {
    filter: brightness(85%);
    color: var(--mantine-color-indigo-4);
    transition: 0.2s;
}

.inner:hover {
    filter: brightness(85%);
    color: var(--mantine-color-indigo-4);
    transition: 0.2s;
}