.control:hover {
    filter: brightness(85%);
    color: var(--mantine-color-indigo-4);
    transition: 0.2s;
    cursor: pointer;
    caret-color: transparent;
}

.input:hover {
    filter: brightness(85%);
    color: var(--mantine-color-indigo-4);
    transition: 0.2s;
    cursor: pointer;
    caret-color: transparent; 
    overflow: auto;
    text-decoration: none;
}

.input {
    caret-color: transparent; 
    overflow: auto;
}